/* Fonts */

@font-face {
  font-family: built-titling;
  src: url(fonts/built-titling-bd.ttf);
}

@font-face {
  font-family: playfair-display;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: bahnschrift;
  src: url(fonts/bahnschrift.ttf);
}

/* FadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in {
  animation: fadeIn 2s ease forwards;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b5e0ed;
  overflow-x: hidden;
}

div {
  margin: -10px;
}

html {
  scroll-behavior: smooth;
}

/* Header stuff*/
header {
  padding: 30px;
}

header a {
  font-family: bahnschrift;
  font-size: 32px;
  color: #00393c;
  text-decoration: none;
}

.sticky-header {
  position: fixed;
  width: 97%;
  height: 70px;
  background-color: #fff6de;
  color: #002626;
  padding: 30px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Home divs */

#home-div-1 {
  background-color: #b5e0ed;
  width: auto;
  height: 500px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#home-div-1 h1 {
  font-family: built-titling;
  font-size: 136px;
  margin: 0;
  color: #398481;
  margin: 0px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1.5s ease;
}

#home-div-1 h2 {
  font-family: playfair-display;
  font-size: 32px;
  color: #398481;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1.5s ease;
}

#home-div-2 {
  background-color: #002626;
  width: auto;
  height: auto;
  padding: 200px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#portfolio-wrap {
  width: auto;
  height: auto;
  padding: 200px;
  margin-top: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2em;
  row-gap: 2em;
}

#portfolio-wrap-wrap {
  background: #002626;
  color: #fff6de;
  font-family: playfair-display;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.portfolio-thumb {
  background-color: #00393c;
  height: 20em;
  width: 30em;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-thumb:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.thumb-1 {
  background-image: url(images/963singer.jpg);
  background-size: 100%;
  background-color: rgb(176, 135, 0);
}
.thumb-2 {
  background-image: url(images/canenbrew-big.png);
  background-position: 50% 35%;
}
.thumb-3 {
  background-image: url(images/rummel-logo.png);
  background-color: #ffd49f;
  background-size: 45%;
}
.thumb-4 {
  background-image: url(images/carcoffeegastein-01.png);

  background-position: 50% 60%;
}

.thumb-5 {
  background-image: url(images/tapimg.png);
  background-position: 50% 100%;
  background-size: 110%;
}

.thumb-6 {
  background-image: url(images/friskluft.png);
}

#home-div-3 {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#home-text-wrap-1 {
  width: 100%;
  background-color: #87b6b6;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
  margin-top: 10em;
}
#home-text-1 {
  width: 50%;
  margin-left: 10%;
  font-family: bahnschrift;
  font-size: 12px;
  font-weight: 100;
  color: #00393c;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.cred-wrap-wrap {
  display: flex;
  margin-top: 150px;
  flex-direction: row;
}

.cred-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px;
}

.cred-wrap img {
  height: 10em;
  width: auto;
}

/* About divs */
.about-div-1 {
  background-color: #b5e0ed;
  width: auto;
  height: 500px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-div-1 h1 {
  font-family: built-titling;
  font-size: 80px;
  color: #398481;
}

/* Contact divs */

#home-div-4 {
  background-color: #398481;
  width: auto;
  height: 500px;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-div {
  color: #fff6de;
  display: flex;
  flex-direction: column;
}

.contact-div h1 {
  font-family: playfair-display;
  font-size: 5em;
}
.contact-div h2 {
  font-family: bahnschrift;
  font-size: 2em;
}

/* Images */

.transition-img {
  width: 100%;
  user-select: none;
}

.lines-img {
  transform: rotate(13deg);
  user-select: none;
  width: 120%;
}

#thisisme {
  width: 30%;
  height: 20%;
  margin-top: 10em;
}

#me-again2 {
  width: 40%;
  height: auto;
}

/* Modal */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

/* Modal */
#modal {
  background-color: #00393c;
  color: #fff6de;
  font-family: bahnschrift;
  border-radius: 10px;
  padding: 20px;
  max-width: 1200px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  position: absolute;
}

/* Modal Content */
#modal-content img,
#modal-content video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Hidden class */
.hidden {
  display: none;
}
